<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Simar Image</title>
</head>

<body>

    <div >
        <form  action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
            

            <p>Browse image
                <br>
                <input required="required" type="file" id="image" name="image" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                <br><br>
                <img id="preview" alt='Your image' />
            </p>

            
            <!-- To load image with url uncomment below lines -->
            <!-- <label>Paste image url: </label> -->
            <!-- <input required="required" type="url" id="url" name="url"> -->
           
            <br/>


            <p>Number of images to show: <br>
                <input required="required" type="number" id="quantity" name="quantity" min="1" max="100">
            </p>
 
            <br>
            <button id="sub" type="submit ">Search Image</button>
            <br>
            <br>

        </form>
        
    </div>

    
    <div >
        
        {% if filename %}
            <table >
                <tbody>
                
                {% for img_name in filename %}
                    <tr>
                        <td><img src="{{ img_name }}" class="column"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{return_code}}</p>
        {% endif %}

    </div>

</body>


</html>